.subscription-thumbnail {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.subscription-thumbnail-inactive {
    filter: grayscale(1);
    opacity: 0.5;
}

.subscription-content {
    min-width: 0;
}

.subscription-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subscription-name-inactive {
    color: var(--mud-palette-text-disabled);
}
